<h2> All Artists </h2>

<!-- collect all artists under user's collections
  and return only those artists with no duplicates -->
 <!-- <%Artwork.all.each do |artwork|%>
  <%if artwork.collector == Helpers.current_user(session)%>
    <ul><a href='/artists/<%=artwork.artist_id%>'><%=artwork.artist.name%></a></ul>
  <%end%>
  <%end%> -->

  <%@artists.each do |artist|%>
    <%if artist.collectors.uniq.include?(Helpers.current_user(session))%>
    <ul><h4><a href='/artists/<%=artist.id%>'><%=artist.name%></a></h4></ul>
  <%end%>
  <%end%>

  <br><br>

<form action= '/genres' method='get'>
    <input type='submit' value='Show All Genres' />
  </form>
<form action= '/artworks' method='get'> <input type='submit' value='Show All Artworks' /> </form>
