<h2>All Artists in Database</h2>
<%Artist.all.each do |artist|%>
<ul><h4><a href="/artists/<%=artist.id%>"><%=artist.name%></a></h4>
  <form action='/artists/<%=artist.id%>/delete' method='post'>
    <input id="hidden" type="hidden" name="_method" value="delete"/>
    <input type='submit' value='Delete Artist'>
  </form>
</ul>
<%end%>
