<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2> All Artists </h2>

  <%@sorted_artists.each do |artist| %>
  <h4><ul><a href='artists/<%=artist.id%>'><%=artist.name%></a></ul></h4>
  <%end%>

  <br><br>

<form action= '/genres' method='get'> <input type='submit' value='Show All Genres' /></form>
<form action= '/artworks' method='get'> <input type='submit' value='Show All Artworks' /></form>
