<%@artworks = Artwork.all.sort_by {|a| a[:artist_id]}%>
<%@artworks.each do |artwork|%>
  <%if artwork.collector == Helpers.current_user(session)%>
    <ul><%=artwork.artist.name%>: <%=artwork.title%>
    <a href='/artworks/<%=artwork.id%>'>View More</a> &nbsp; </ul>
    </form>
  <%else nil%>
  <%end%>
<%end%>

<br>

<h4>Add to your collection!</h4>

<form action= '/artworks/new' method='get'>
    <input type='submit' value='Add New Artwork' />
  </form>

<br><br>

<form action= '/genres' method='get'>
    <input type='submit' value='Show All Genres' />
  </form>

<form action= '/artists' method='get'>
    <input type='submit' value='Show All Artists' />
  </form>
