<%Artwork.all.each do |artwork|%>
  <%if artwork.collector == Helpers.current_user(session)%>
    <ul><%=artwork.artist.name%>: <%=artwork.title%> <br>
    <a href='/artworks/<%=artwork.id%>'>View More</a> &nbsp;
     <a href='/artworks/edit'>Edit</a> &nbsp;
     <a href= '/artworks/delete'>Delete</a> </ul>
    </form>
  <%else nil%>
  <%end%>
<%end%>


<br>
<h4>Add to your collection!</h4>
<form action= '/artworks/new' method='get'>
    <input type='submit' value='Add New Artwork' />
  </form>
