<%@collector = Helpers.current_user(session)%>
<h2> Welcome <%=@collector.username%></h2>

<h4>Email: <%=@collector.email%></h4>

<br>

<h4>Add to your collection!</h4>

<form action= '/artworks/new' method='get'>
    <input type='submit' value='Add New Artwork' />
  </form>

<br><br>

<h4>Browse Your Collection:</h4>
<form action= '/artworks' method='get'>
    <input type='submit' value='By Artworks' />
  </form>
<form action= '/artists' method='get'>
    <input type='submit' value='By Artists' />
  </form>
  <form action= '/genres' method='get'>
      <input type='submit' value='By Genre' />
    </form>
