<h2> Welcome to <%=Helpers.current_user(session).username%>'s Art Collection</h2>

<br>

<h4>Add to your collection!</h4>
<form action= '/artworks/new' method='get'>
    <input type='submit' value='Add New Artwork' />
  </form>

<h4>Browse the Collection:</h4>
<form action= '/artists' method='get'>
    <input type='submit' value='By Artists' />
  </form>
  <form action= '/genres' method='get'>
      <input type='submit' value='By Genre' />
    </form>
  <form action= '/artworks' method='get'>
      <input type='submit' value='All Artworks' />
    </form>
