<!doctype html>
<html>
  <head>

    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <title>My Art Collection</title>
  </head>
  <body>
    <div class="container">
      <h1>My Art Collection</h1>
    </div>
    <%=Helpers.show_links(session)%>
    <%if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
        <br>
    <%= yield %>


  <br><br>

      </body>
    </html>
