<!doctype html>
<html>
  <head>
    <title>My Art Collection</title>
  </head>
  <body>
    <div class="container">
      <h1>My Art Collection</h1>
    </div>
    <%if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
        <br>
    <%= yield %>


  <br><br>

    <%=Helpers.show_links(session)%>
      </body>
    </html>
